In [1]:
import spacy
from collections import deque
import pandas as pd
import transformers
from transformers import AutoTokenizer

/cluster/home/kamara/mambaforge/envs/syntaxshapenv/lib/python3.11/site-packages/torch/cuda/__init__.py:628: UserWarning: Can't initialize NVML
  warnings.warn("Can't initialize NVML")
/cluster/home/kamara/mambaforge/envs/syntaxshapenv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:

class TreeNode:
    def __init__(self, data):
        self.data = data
        self.parent = None
        self.children = []

    def add_child(self, child):
        child.parent = self
        self.children.append(child)

def spacy_doc_to_tree(doc):
    # Create a TreeNode for each token in the doc
    nodes = [TreeNode(token) for token in doc]

    # Create the tree structure by connecting parent-child relationships
    for token, node in zip(doc, nodes):
        if token.head.i == token.i:  # Skip root node (head is itself)
            continue
        parent_node = nodes[token.head.i]
        parent_node.add_child(node)

    # Find and return the root node
    root = next(node for node in nodes if node.parent is None)
    return root



def create_dataframe_from_tree(root):
    if not root:
        return pd.DataFrame()

    # Data list to hold information about each node
    data = []
    queue = deque([(root, 0, None)])

    while queue:
        node, level, parent = queue.popleft()

        # If the node has a parent, find the positions of its siblings
        if parent:
            sibling_positions = [child.data.i for child in parent.children]
        else:
            sibling_positions = []

        node_data = {
            "word": node.data.text,
            "word_position": node.data.i,
            "level": level,
            "level_weight": 1 / (level + 1),
            "parent": parent.data.text if parent else None,
            "sibling_positions": sibling_positions
        }
        data.append(node_data)

        for child in node.children:
            queue.append((child, level + 1, node))

    # Create DataFrame from the collected data
    df = pd.DataFrame(data)
    df = df.sort_values(by='level')
    return df



# Example usage:
# nlp = spacy.load("en_core_web_sm")
# text = "This is an example sentence."
# doc = nlp(text)

# Convert Spacy dependency tree to a Tree object
# tree_root = spacy_doc_to_tree(doc)

# Example usage with the Tree structure
# tree_df = create_dataframe_from_tree(tree_root)
# print(tree_df)

In [3]:
nlp = spacy.load("en_core_web_sm")
text = "Some ferns can grow large in  moist"
doc = nlp(text+' MASK')

# Convert Spacy dependency tree to a Tree object
tree_root = spacy_doc_to_tree(doc)

# Example usage with the Tree structure
tree_df = create_dataframe_from_tree(tree_root)
tree_df = tree_df[tree_df['word'] != 'MASK']
tree_df

    word  word_position  level  level_weight parent sibling_positions
0   grow              3      0      1.000000   None                []
1  ferns              1      1      0.500000   grow      [1, 2, 4, 5]
2    can              2      1      0.500000   grow      [1, 2, 4, 5]
3  large              4      1      0.500000   grow      [1, 2, 4, 5]
4     in              5      1      0.500000   grow      [1, 2, 4, 5]
5   Some              0      2      0.333333  ferns               [0]
6                     6      2      0.333333     in            [6, 8]
8  moist              7      3      0.250000   MASK               [7]

In [4]:
# Initialize tokenizer
tokenizer = AutoTokenizer.from_pretrained("gpt2")
tokenizer.pad_token = tokenizer.eos_token
tokenizer.padding_side = "left"

In [6]:
import re
sentence = 'Some ferns can grow large in  moist'
words = [t.strip() for t in re.findall(r'\b.*?\S.*?(?:\b|$)', sentence)]
df_words = pd.DataFrame({'word': words, 'word_position': range(len(words))})
df_words

    word  word_position
0   Some              0
1  ferns              1
2    can              2
3   grow              3
4  large              4
5     in              5
6  moist              6

In [7]:
token_ids = tokenizer('Some ferns can grow large in  moist')['input_ids']
num_tokens = len(token_ids)
positions = range(num_tokens)
df_tokens = pd.DataFrame({'token_id': token_ids, 'token_position': positions})
df_tokens['token'] = [tokenizer.decode([token_id]) for token_id in df_tokens['token_id']]
df_tokens

   token_id  token_position   token
0      4366               0    Some
1       277               1       f
2      1142               2     ern
3        82               3       s
4       460               4     can
5      1663               5    grow
6      1588               6   large
7       287               7      in
8       220               8
9     13394               9   moist

In [13]:
# Initialize dictionary to store word-subtoken mappings
token_to_word = {}
token_id_to_word = {}
pos_token_to_word = {}
k = 0

for i in range(len(words)):
    word = words[i]
    print('word:', word)
    word_len = 0
    while word_len < len(word):
        if tokenizer.decode([token_ids[k]])==' ':
            k += 1
            continue
        decoded_word = tokenizer.decode([token_ids[k]]).replace(' ','')
        print('decoded_word', decoded_word)
        word_len += len(decoded_word)
        print('word length to reach', len(word))
        print('word_len', word_len)
        pos_token_to_word[k] = i
        token_to_word[decoded_word] = word
        token_id_to_word[token_ids[k]] = word
        k += 1

print(token_to_word)
print(pos_token_to_word)

word: Some
decoded_word Some
word length to reach 4
word_len 4
word: ferns
decoded_word f
word length to reach 5
word_len 1
decoded_word ern
word length to reach 5
word_len 4
decoded_word s
word length to reach 5
word_len 5
word: can
decoded_word can
word length to reach 3
word_len 3
word: grow
decoded_word grow
word length to reach 4
word_len 4
word: large
decoded_word large
word length to reach 5
word_len 5
word: in
decoded_word in
word length to reach 2
word_len 2
word: moist
decoded_word moist
word length to reach 5
word_len 5
{'Some': 'Some', 'f': 'ferns', 'ern': 'ferns', 's': 'ferns', 'can': 'can', 'grow': 'grow', 'large': 'large', 'in': 'in', 'moist': 'moist'}
{0: 0, 1: 1, 2: 1, 3: 1, 4: 2, 5: 3, 6: 4, 7: 5, 9: 6}

In [10]:
len(' ')

1

In [15]:
# Add 'word' column based on token_id_to_word mapping
df_tokens['word_position'] = df_tokens['token_position'].map(pos_token_to_word)

# Merge based on 'word'
merged_df = pd.merge(df_tokens, df_words, on='word_position', how='left')
merged_df

   token_id  token_position   token  word_position   word
0      4366               0    Some            0.0   Some
1       277               1       f            1.0  ferns
2      1142               2     ern            1.0  ferns
3        82               3       s            1.0  ferns
4       460               4     can            2.0    can
5      1663               5    grow            3.0   grow
6      1588               6   large            4.0  large
7       287               7      in            5.0     in
8       220               8                    NaN    NaN
9     13394               9   moist            6.0  moist

In [171]:
pd.merge(merged_df, tree_df, on=['word', 'word_position'], how='inner')

,token_id,token_position,token,word_position,word,level,level_weight,parent,sibling_positions
0,32,0,A,0,A,2,0.333333,grandpa,[0]
1,4490,1,grand,1,grandpa,1,0.500000,is,"[1, 3, 5, 8]"
2,8957,2,pa,1,grandpa,1,0.500000,is,"[1, 3, 5, 8]"
3,318,3,is,2,is,0,1.000000,None,[]
4,407,4,not,3,not,1,0.500000,is,"[1, 3, 5, 8]"
5,257,5,a,4,a,2,0.333333,mum,"[4, 6]"
6,25682,6,mum,5,mum,1,0.500000,is,"[1, 3, 5, 8]"
7,475,7,but,6,but,2,0.333333,mum,"[4, 6]"
8,257,8,a,7,a,2,0.333333,MASK,[7]